META-INF
NOTICE
output
logs
*.class
*.tmp
*#*
*.pyc
*~
*.pdf
*.zip
*.txt
*.log
*idea*
*.iml
*.xml
.config
.compile
.deps
lib
target*
dependency-reduced*
*mturk.properties*
data/output
data/*.dict
gists
docs/*.sty
temp.html
velocity.*
*.jar
src/python/approveAll.py
email_to_self/*
data/controversy/*
*.png
.*/node_modules/.*
deploy
src/julia/.juliahistory
src/julia/.juliahistory
.DS_Store
node_modules/*
data/*.csv
data/*.ods
src/javascript/bin/*
*.bak
.lein*
src/python/*
.nrepl.*
.nrepl-port
src/main/resources/.survey.json.swp
lein.*
lein
local-mvn
foo.properties
junit*

foo.csv
bar.csv
*.tar
