.breakoff {
    white-space : nowrap;
    display : block;
    position : relative;
    top : 10px;
    left : 20px;
}

.answer {
    white-space : nowrap;
    display : block;
}
 
label {
    display : block;
    padding : 2px 1em 0 0;
    white-space : nowrap;
}