<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="Tests" fileName="logs/Tests.log" append="false">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %highlight{ %t %-5p %c{2} - %m%n}"/>
    </File>
  </Appenders>
  <Loggers>
      <Root level="DEBUG">
          <AppenderRef ref="Tests" />
      </Root>
  </Loggers>
</Configuration>